<!DOCTYPE html>
<html>
<head>
   <title>RisingChatBot</title>
</head>
<body>

   <center><h2><a href="/"><input type="button" value="Tap Button To Speak"></a></h2></center>
   
   <center><div class="tenor-gif-embed" data-postid="18374601" data-share-method="host" data-aspect-ratio="0.665625" data-width="40%"><a href="https://tenor.com/view/talking-tom-thomas-taker-thomas-dm4uz3-cat-gif-18374601">Talking Tom Thomas GIF</a>from <a href="https://tenor.com/search/talking+tom-gifs">Talking Tom GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script></center>
   
</body>
</html>